Package: com.karimo299.dndallow
Name: DNDAllow
Depends: mobilesubstrate, preferenceloader, ws.hbang.common, applist
Version: 1.0.1
Architecture: iphoneos-arm
Description: Allows specific apps to be shown when DND/Bedtime is activated.
Maintainer: Karimo299
Author: Karimo299
Section: Tweaks
